:root {
  --color-offwhite: #f5f5f5;
  --color-dark: #333333;
  --color-gray: #ccc;
  --color-light-gray: #ddd;
  --color-dark-gray: #666;
  --color-green: #41b883;
  --color-dark-green: #369b6e;
  --color-dark-blue: #35495e;
  --color-danger: #cc3333;
  --color-primary: #4a97d0;
  --color-modal-bg: rgba(0, 0, 0, 0.5);

  --sidebar-width: 300px;
  --sidebar-header-height: 80px;

  --border: solid 1px var(--color-gray);
  --border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

body {
  font-size: 16px;
  background: var(--color-offwhite);
  color: var(--color-dark);

  @media print {
    background: unset;
  }
}

input,
select,
textarea {
  font-size: 1rem;
  border: var(--border);
  border-radius: 5px;
  padding: 0.5rem;
  height: 38px;

  &:hover,
  &:focus {
    border: solid 1px var(--color-green);
    outline: none;
  }
}

button {
  font-size: 1rem;
  border: var(--border);
  border-radius: 5px;
  padding: 0.5rem;
  background: var(--color-gray);
  cursor: pointer;

  &:hover {
    filter: brightness(1.08);
    outline: none;
  }

  &:focus {
    border: solid 1px var(--color-dark-gray);
  }

  &:active {
    filter: brightness(0.8);
  }

  svg {
    width: 1em;
  }
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-offwhite);
}

.btn-danger {
  background: var(--color-danger);
  color: var(--color-offwhite);
}

a {
  color: unset;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color-green);
  }
}

ul {
  list-style: none;
  display: flex;
}

ul.card {
  position: relative;
  flex-direction: column;
  border: var(--border);
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  break-inside: avoid;

  li {
    display: flex;
    padding: 0.3rem 0;

    strong {
      display: inline-block;
      min-width: 120px;

      @media (max-width: 426px) {
        min-width: 100px;
      }
    }
  }

  div.card-buttons {
    position: absolute;
    display: flex;

    top: 5px;
    right: 5px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 30px;
      height: 30px;
      padding: 0;

      & + button {
        margin-left: 1rem;
      }

      svg {
        font-size: 1.2rem;
      }
    }

    @media print {
      display: none;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background: var(--color-gray);    
  }
  
  tr {
    &:nth-child(even) {
      background: var(--color-light-gray);
    }
    
    th, td {
      padding: 0.25rem;
      text-align: center;
      border: solid 1px var(--color-dark-gray);

      &:nth-child(2) {
        text-align: left;
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;

      &:hover {
        color: var(--color-dark-green);
      }
    }
  }
}


.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-green);
  margin-bottom: 1rem;
  border-bottom: var(--border);

  div.tools {
    display: flex;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      padding: 0;

      & + button {
        margin-left: 0.5rem;
      }

      svg {
        height: 100%;
      }
    }
  }

  @media print {
    border-bottom: none;
    padding: 0 0.5rem;
    font-size: 14px !important;

    div.tools {
      display: none;
    }
  }
}

.filters {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: var(--border);

  form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    input {
      margin-right: 1rem;
    }

    label {
      display: block;
      padding: 0 0.5rem;
      font-size: 0.8rem;
      font-weight: bold;
    }
  }

  @media print {
    display: none;
  }
}

.form {
  max-width: 900px;
  padding: 1rem;
  border: var(--border);
  border-radius: var(--border-radius);

  ul {
    flex-direction: column;

    li {
      display: flex;

      &:not(:first-child) {
        margin-top: 0.5rem;
      }

      &:last-child {
        justify-content: flex-end;

        button + button {
          margin-left: 1rem;
        }
      }

      label {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;

        strong {
          width: 150px;
        }

        &.required {
          &:after {
            content: '*';
            display: block;
            position: absolute;

            right: 16px;
            top: 8px;
            
            color: var(--color-danger);
            font-size: 1.75rem;
          }
        }

        input, textarea, select {
          flex-grow: 1;
        }

        textarea {
          height: 80px;
        }
      }
    }
  }
}
